quiz-api.185.164.138.113.sslip.io {
	encode gzip

	header {
		X-Content-Type-Options nosniff
		Referrer-Policy no-referrer-when-downgrade
		-Server
	}

	reverse_proxy api:3000

	log {
		output stdout
		format console
	}
}
